@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_shipping {
  article {
    .ttl_st {
      margin: 50px 0 25px;
      border-bottom: 1px dotted #BBBBBB;
    }
    p {
      font-size: rem(24);
    }
    .link_back {
      font-size: rem(22);
      color: #FF9D00;
      width: 290px;
      height: 61px;
      border: 2px solid #FF9D00;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      margin: 35px auto 0;
      &:before {
        content: "";
        background: url(../../common/images/arr_left.png) no-repeat;
        background-size: contain;
        width: 12px;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
    }
    .list_method {
      li {
        position: relative;
        padding-left: 30px;
        margin: 20px 0 60px;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 100%;
          overflow: hidden;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }
        strong {
          font-size: rem(24);
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
    .frm_textarea {
      width: 100%;
      height: 300px;
      border: 1px solid #CCCCCC;
      background-color: #F9F9F9;
      font-size: rem(24);
      padding: 10px;
      outline: none;
      resize: none;
    }
    em {
      font-size: rem(24);
      display: block;
      margin-top: 50px;
      font-style: normal;
    }
  }
  .ttl_method {
    font-size: rem(24);
    font-weight: bold;
    display: block;
    margin: 30px 0;
  }
  figure{
    text-align: center;
  }
  .frm_btn {
    .btn_sm {
      width: 290px;
      height: 60px;
      font-size: rem(28);
      color: #fff;
      font-weight: bold;
      border-radius: 5px;
      background-color: #FF9D00;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 60px auto 105px;
      border: none;
      cursor: pointer;
      &:after {
        content: "";
        background: url(../../common/images/icon_right_btn.png) no-repeat;
        background-size: contain;
        width: 15px;
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 27px;
      }
    }
  }
}