@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_shipping {
  article {
    .ttl_st {
      margin: vw(50) 0 vw(25);
      border-bottom: 1px dotted #BBBBBB;
    }
    p {
      font-size: vw(24);
    }
    .link_back {
      font-size: vw(22);
      color: #FF9D00;
      width: vw(290);
      height: vw(60);
      border: vw(2) solid #FF9D00;
      border-radius: vw(5);
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      margin: vw(35) auto 0;
      &:before {
        content: "";
        background: url(../../common/images/arr_left.png) no-repeat;
        background-size: contain;
        width: vw(12);
        height: vw(18);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: vw(20);
      }
    }
    .list_method {
      li {
        position: relative;
        padding-left: vw(30);
        margin: vw(20) 0 vw(60);
        &:before {
          content: "";
          width: vw(8);
          height: vw(8);
          border-radius: 100%;
          overflow: hidden;
          background-color: #000;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: vw(15);
        }
        strong {
          font-size: vw(24);
          &:first-child {
            margin-right: vw(20);
          }
        }
      }
    }
    .frm_textarea {
      width: 100%;
      height: vw(300);
      border: 1px solid #CCCCCC;
      background-color: #F9F9F9;
      font-size: vw(24);
      padding: vw(10);
      outline: none;
      resize: none;
    }
    em {
      font-size: vw(24);
      display: block;
      margin-top: vw(50);
      font-style: normal;
    }
  }
  .ttl_method {
    font-size: vw(24);
    font-weight: bold;
    display: block;
    margin: vw(30) 0;
  }
  figure {
    text-align: center;
  }
  .frm_btn {
    .btn_sm {
      width: vw(290);
      height: vw(60);
      font-size: vw(28);
      color: #fff;
      font-weight: bold;
      border-radius: vw(5);
      background-color: #FF9D00;
      display: block;
      line-height: vw(60);
      text-align: center;
      position: relative;
      margin: vw(60) auto vw(105);
      border: none;
      cursor: pointer;
      &:after {
        content: "";
        background: url(../../common/images/icon_right_btn.png) no-repeat;
        background-size: contain;
        width: vw(15);
        height: vw(25);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(27);
      }
    }
  }
}