@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_pro_detail {
  .list_rb {
    padding-bottom: 0;
    border-bottom: 0;
    margin: vw(10) 0 0 0;
  }
  .breadcrumb {
    border-top: none;
  }
}

.st_detail_pro {
  .bx_img {
    width: vw(400);
    margin: vw(55) auto vw(48);
    figure {
      .img_pro {
        img {
          width: vw(400);
        }
      }
    }
    .item_buy {
      display: flex;
      margin-top: vw(18);
      li {
        &:not(:last-child) {
          margin-right: vw(10);
        }
        a {
          font-size: vw(16);
          width: vw(70);
          height: vw(50);
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.5;
          text-decoration: none;
          border: 1px solid #000;
          text-align: center;
          font-weight: bold;
          line-height: 1.2;
        }
      }
    }
  }
  .bx_pr_dt {
    p {
      font-size: vw(24);
      strong {
        color: #FF0000;
        margin-left: vw(5);
        display: inline-block;
      }
    }
  }
  .ctn_frm {
    h3 {
      font-size: vw(24);
      margin: vw(15) 0 vw(80);
    }
    .frm_detail {
      .top_ip {
        margin-bottom: 0;
      }
      label {
        font-weight: normal;
        line-height: 1.2;
        width: vw(156);
      }
      .gr_slt {
        width: calc(100% - #{vw(156)});
        .frm_select {
          margin-left: 0;
        }
      }
      .right_frm {
        width: calc(100% - #{vw(156)});
        .frm_ip {
          width: vw(82);
          height: vw(42);
          border: 1px solid #CCCCCC;
          font-size: vw(24);
          color: #333;
          outline: none;
          text-align: center;
          padding: 0 vw(10);
          border-radius: 0;
          &::placeholder {
            color: #333;
            opacity: 1;
          }
        }
      }
      .frm_btn {
        .btn_sb {
          width: vw(350);
          height: vw(70);
          font-size: vw(28);
          color: #fff;
          font-weight: bold;
          border-radius: vw(5);
          background-color: #FF9D00;
          display: block;
          line-height: vw(70);
          padding-top: vw(3);
          text-align: center;
          position: relative;
          margin: vw(35) auto vw(60);
          border: none;
          cursor: pointer;
          padding-right: vw(50);
          &:after {
            content: "";
            background: url(../images/icon_cart_02.png) no-repeat;
            background-size: contain;
            width: vw(33);
            height: vw(29);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(50);
          }
        }
      }
    }
    .review{
      display: flex;
      justify-content: space-between;
      margin-bottom: vw(90);
      li{
        font-size: vw(24);
        a{
          color: #198DFF;
        }
      }
    }
  }
}