@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_pro_detail {
  .list_rb {
    padding-bottom: 0;
    border-bottom: 0;
    margin: 10px 0 0 0;
  }
  .breadcrumb {
    border-top: none;
  }
}

.st_detail_pro {
  .bx_img {
    width: 400px;
    margin: 55px auto 48px;
    figure {
      .img_pro {
        img {
          width: 400px;
        }
      }
    }
    .item_buy {
      display: flex;
      margin-top: 18px;
      li {
        &:not(:last-child) {
          margin-right: 10px;
        }
        a {
          font-size: rem(16);
          width: 70px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.5;
          text-decoration: none;
          border: 1px solid #000;
          text-align: center;
          font-weight: bold;
          line-height: 1.2;
        }
      }
    }
  }
  .bx_pr_dt {
    p {
      font-size: rem(24);
      strong {
        color: #FF0000;
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
  .ctn_frm {
    h3 {
      font-size: rem(24);
      margin: 15px 0 80px;
    }
    .frm_detail {
      .top_ip {
        margin-bottom: 0;
      }
      label {
        font-weight: normal;
        line-height: 1.2;
        width: 156px;
      }
      .gr_slt {
        width: calc(100% - 156px);
        .frm_select {
          margin-left: 0;
        }
      }
      .right_frm {
        width: calc(100% - 156px);
        .frm_ip {
          width: 82px;
          height: 42px;
          border: 1px solid #CCCCCC;
          font-size: 2.4rem;
          color: #333;
          outline: none;
          text-align: center;
          padding: 0 10px;
          border-radius: 0;
          &::placeholder {
            color: #333;
            opacity: 1;
          }
        }
      }
      .frm_btn {
        .btn_sb {
          width: 350px;
          height: 70px;
          font-size: 2.8rem;
          color: #fff;
          font-weight: bold;
          border-radius: 5px;
          background-color: #FF9D00;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: 35px auto 60px;
          border: none;
          cursor: pointer;
          padding-right: 50px;
          &:after {
            content: "";
            background: url(../images/icon_cart_02.png) no-repeat;
            background-size: contain;
            width: 33px;
            height: 29px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
          }
        }
      }
    }
    .review{
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
      li{
        font-size: rem(24);
        a{
          color: #198DFF;
        }
      }
    }
  }
}