@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.top_gr{
  figure{
    padding-bottom: 48px;
    text-align: center;
    margin-bottom: 23px;
    border-bottom: 1px solid #DDDDDD;
  }
}
.st_store_ribbon{
  margin-bottom: 82px;
  .top_store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 38px;
    .txt_left{
      width: calc(100% - 170px);
      padding-right: 40px;
      p{
        font-size: rem(24);
        letter-spacing: -2px;
      }
      strong{
        font-size: rem(24);
        display: block;
        letter-spacing: -2px;
        margin: 30px 0;
      }
    }
    figure{
      width: 170px;
    }
  }
  .tbl_price{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    tr{
      &:not(:last-child){
        border-bottom: 1px solid #dddddd;
      }
      th{
        font-size: rem(24);
        padding: 20px 24px;
        font-weight: normal;
        text-align: left;
        width: 280px;
        background-color: #F9F9F9;
        line-height: 1;
      }
      td{
        font-size: rem(24);
        text-align: right;
        padding: 20px 24px;
        line-height: 1;
        strong{
          color: #FF0000;
          margin-left: 10px;
        }
      }
    }
  }
  .txt_tbl{
    font-size: rem(18);
    font-style: normal;
    display: block;
    margin: 25px 0 0;
  }
}
.st_news{
  .list_news{
    margin-bottom: 70px;
  }
  p{
    font-size: rem(24);
    margin-bottom: 30px;
  }
  .list_ab{
    counter-reset: li;
    margin-bottom: 20px;
    li{
      font-size: rem(24);
      padding: 28px 40px 28px 86px;
      background-color: #FFF4ED;
      position: relative;
      &:before{
        counter-increment: li;
        content: counter(li);
        width: 40px;
        height: 40px;
        font-size: rem(24);
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35px;
        left: 30px;
        background-color: $org;
      }
      &:not(:last-child){
        border-bottom: 2px solid #FFD7BC;
      }
      &:nth-of-type(2){
        figure{
          margin: 30px 0 0 -55px; 
        }
      }
      &:nth-of-type(4),&:nth-of-type(5){
        figure{
          float: right;
          margin: 5px 0 40px 30px;
        }
      }
    }
  }
}
.list_qc{
  li{
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
}
.st_original{
  .list_original{
    li{
      border-bottom: 1px dotted #ccc;
      padding: 12px 0;
      a{
        text-decoration: none;
      }
      span{
        font-size: rem(18);
        font-weight: bold;
        color: #fff;
        width: 64px;
        height: 28px;
        border-radius: 15px;
        background-color: $org;
        display: inline-block;
        text-align: center;
      }
      em{
        font-size: rem(24);
        color: #2692FF;
        text-decoration: underline;
        margin-left: 18px;
        display: inline-block;
        font-style: normal;
      }
    }
  }
}
.list_qc_02{
  margin: 35px 0 70px;
}