@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.top_gr{
  figure{
    padding-bottom: vw(48);
    text-align: center;
    margin-bottom: vw(23);
    border-bottom: 1px solid #DDDDDD;
  }
}
.st_store_ribbon{
  margin-bottom: vw(82);
  .top_store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: vw(35) 0 vw(38);
    .txt_left{
      width: calc(100% - #{vw(170)});
      padding-right: vw(40);
      p{
        font-size: vw(24);
        letter-spacing: vw(-2);
      }
      strong{
        font-size: vw(24);
        display: block;
        letter-spacing: vw(-2);
        margin: vw(30) 0;
      }
    }
    figure{
      width: vw(170);
    }
  }
  .tbl_price{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    tr{
      &:not(:last-child){
        border-bottom: 1px solid #dddddd;
      }
      th{
        font-size: vw(24);
        padding: vw(20) vw(24);
        font-weight: normal;
        text-align: left;
        width: vw(280);
        background-color: #F9F9F9;
        line-height: 1;
      }
      td{
        font-size: vw(24);
        text-align: right;
        padding: vw(20) vw(24);
        line-height: 1;
        strong{
          color: #FF0000;
          margin-left: vw(10);
        }
      }
    }
  }
  .txt_tbl{
    font-size: vw(18);
    font-style: normal;
    display: block;
    margin: vw(25) 0 0;
  }
}
.st_news{
  .list_news{
    margin-bottom: vw(70);
  }
  p{
    font-size: vw(24);
    margin-bottom: vw(30);
  }
  .list_ab{
    counter-reset: li;
    margin-bottom: vw(20);
    li{
      font-size: vw(24);
      padding: vw(28) vw(40) vw(28) vw(86);
      background-color: #FFF4ED;
      position: relative;
      &:before{
        counter-increment: li;
        content: counter(li);
        width: vw(40);
        height: vw(40);
        font-size: vw(24);
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: vw(35);
        left: vw(30);
        background-color: $org;
      }
      &:not(:last-child){
        border-bottom: vw(2) solid #FFD7BC;
      }
      &:nth-of-type(2){
        figure{
          margin: vw(30) 0 0 vw(-55); 
        }
      }
      &:nth-of-type(4),&:nth-of-type(5){
        figure{
          float: right;
          margin: vw(5) 0 vw(40) vw(30);
          img{
            width: vw(180);
          }
        }
      }
    }
  }
}
.list_qc{
  li{
    &:not(:last-child){
      margin-bottom: vw(20);
    }
  }
}
.st_original{
  .list_original{
    li{
      border-bottom: 1px dotted #ccc;
      padding: vw(12) 0;
      a{
        text-decoration: none;
      }
      span{
        font-size: vw(18);
        font-weight: bold;
        color: #fff;
        width: vw(64);
        height: vw(28);
        border-radius: vw(15);
        background-color: $org;
        display: inline-block;
        text-align: center;
      }
      em{
        font-size: vw(24);
        color: #2692FF;
        text-decoration: underline;
        margin-left: vw(18);
        display: inline-block;
        font-style: normal;
      }
    }
  }
}
.list_qc_02{
  margin: vw(35) 0 vw(70);
}