@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_edit_infor {
  dl{
    dt{
      font-size: vw(24);
      color: $org;
      font-weight: bold;
      margin: vw(60) 0 vw(25);
    }
  }
  .frm_radio {
    margin-left: vw(100);
    li {
      display: inline-block;
      &:not(:last-child){
        margin-right: vw(32);
      }
      .rdo_lbl {
        font-size: vw(24);
        color: #4b4b4b;
        padding-left: vw(44);
        font-weight: normal;
        position: relative;
        cursor: pointer;
        width: auto;
      }
      input[type="radio"] {
        position: absolute;
        opacity: 0;
        outline: none;
        +.rdo_lbl {
          &:before {
            content: '';
            background: #fff;
            border-radius: 100%;
            overflow: hidden;
            border: 1px solid #d1d1d1;
            display: inline-block;
            width: vw(27);
            height: vw(27);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }
        }
        &:checked {
          +.rdo_lbl {
            &:before {
              background-color: #fff;
              box-shadow: inset 0 0 0 vw(8) #429BF9;
            }
          }
        }
        &:focus {
          +.rdo_lbl {
            &:before {
              outline: none;
              border-color: #d1d1d1;
            }
          }
        }
      }
    }
  }
}
