@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_express{
  .list_rb{
    padding-bottom: 0;
    border-bottom: 0;
    margin: vw(10) 0 0 0;
  }
  .breadcrumb{
    border-top: none;
  }
  .bx_pagination{
    padding-bottom: vw(64);
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: vw(22);
    p{
      font-size: vw(24);
      margin-bottom: vw(20);
    }
    .list_pagination{
      display: flex;
      align-items: center;
      li{
        width: vw(55);
        height: vw(55);
        margin-right: vw(13);
        a{
          font-size: vw(24);
          color: #fff;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          background-color: #FFB015;
        }
        &:first-of-type{
          width:auto;
          height: auto;
          font-size: vw(24);
          margin-right: vw(20);
        }
        &:last-of-type{
          width:auto;
          height: auto;
          margin: 0 0 0 vw(20);
          a{
            background: transparent;
            color: #008CFF;
          }
        }
        &.active{
          a{
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.st_category{
  .ttl_section{
    margin-bottom: vw(42);
  }
}