@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_express{
  .list_rb{
    padding-bottom: 0;
    border-bottom: 0;
    margin: 10px 0 0 0;
  }
  .breadcrumb{
    border-top: none;
  }
  .bx_pagination{
    padding-bottom: 64px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 22px;
    p{
      font-size: rem(24);
      margin-bottom: 20px;
    }
    .list_pagination{
      display: flex;
      align-items: center;
      li{
        width: 55px;
        height: 55px;
        margin-right: 14px;
        a{
          font-size: rem(24);
          color: #fff;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          background-color: #FFB015;
        }
        &:first-of-type{
          width:auto;
          height: auto;
          font-size: rem(24);
          margin-right: 22px;
        }
        &:last-of-type{
          width:auto;
          height: auto;
          margin: 0 0 0 22px;
          a{
            background: transparent;
            color: #008CFF;
          }
        }
        &.active{
          a{
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.st_category{
  .ttl_section{
    margin-bottom: 42px;
  }
}