@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_subscribe{
  .ttl_section{
    margin-bottom: 33px;
  }
  .ctn_form{
    p{
      font-size: rem(24);
      margin-bottom: 30px;
    }
  }
}