@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
main {
  .st_recomend {
    .ttl_section {
      margin-bottom: vw(50);
    }
    article {
      h3 {
        font-size: vw(30);
        font-weight: bold;
        margin-bottom: vw(20);
      }
      .main_art {
        p {
          font-size: vw(24);
          line-height: 1.5;
          margin-bottom: vw(30);
        }
      }
    }
  }
  .st_order {
    .ttl_st {
      margin-bottom: vw(20);
    }
    .top_order {
      p {
        font-size: vw(24);
        line-height: 1.5;
        margin-bottom: vw(20);
      }
      .mail {
        text-decoration: none;
        span {
          color: #2692FF;
          text-decoration: underline;
        }
      }
    }
  }
}