@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
main {
  .st_recomend {
    .ttl_section {
      margin-bottom: 50px;
    }
    article {
      h3 {
        font-size: rem(30);
        font-weight: bold;
        margin-bottom: 20px;
      }
      .main_art {
        p {
          font-size: rem(24);
          line-height: 1.5;
          margin-bottom: 30px;
        }
      }
    }
  }
  .st_order {
    .ttl_st {
      margin-bottom: 20px;
    }
    .top_order {
      p {
        font-size: rem(24);
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .mail {
        text-decoration: none;
        span {
          color: #2692FF;
          text-decoration: underline;
        }
      }
    }
  }
}