@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_shopping_cart {
  .frm_cart {
    .frm_group {
      display: flex;
      align-items: center;
      padding: vw(20) 0;
      &:not(:last-child) {
        border-bottom: 1px dotted #bbb;
      }
      &:nth-of-type(2) {
        align-items: flex-start;
        label {
          padding-top: vw(5);
        }
      }
      .frm_ip {
        width: vw(82);
        height: vw(42);
        border: 1px solid #CCCCCC;
        font-size: vw(24);
        color: #333;
        outline: none;
        text-align: center;
        border-radius: 0;
        padding: 0 vw(10);
        &::placeholder {
          color: #333;
          opacity: 1;
        }
      }
      label {
        font-size: vw(24);
        line-height: 1;
        width: vw(155);
      }
      .right_frm {
        width: calc(100% - #{vw(155)});
        p {
          font-size: vw(24);
        }
        .list_dt {
          li {
            font-size: vw(24);
            position: relative;
            padding-left: vw(20);
            &:before {
              content: "";
              width: vw(10);
              height: vw(2);
              background-color: #333;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
        strong {
          color: #FF0000;
          font-size: vw(24);
        }
        span {
          margin-left: vw(13);
          font-size: vw(24);
          a {
            color: #1992FF;
          }
        }
      }
    }
    .frm_btn {
      .btn_sm {
        width: vw(350);
        height: vw(70);
        font-size: vw(28);
        color: #fff;
        font-weight: bold;
        border-radius: vw(5);
        background-color: $org;
        display: block;
        line-height: vw(70);
        text-align: center;
        position: relative;
        margin: vw(22) auto vw(45);
        border: none;
        cursor: pointer;
        &:after {
          content: "";
          background: url(../../common/images/icon_right_btn.png) no-repeat;
          background-size: contain;
          width: vw(15);
          height: vw(25);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(27);
        }
      }
    }
  }
  .txt_bottom {
    font-style: normal;
    font-size: vw(24);
    display: block;
  }
  .list_link {
    margin: 0 0 0 -vw(-18);
    display: flex;
    align-items: center;
    li {
      width: calc(50% - #{vw(18)});
      margin: vw(20) 0 vw(40) vw(18);
      &:first-of-type {
        a {
          padding-left: vw(30);
          &:before {
            content: "";
            background: url(../../common/images/arr_left.png) no-repeat;
            background-size: contain;
            width: vw(12);
            height: vw(18);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: vw(25);
          }
        }
      }
      &:last-of-type {
        a {
          padding-right: vw(25);
          &:after {
            content: "";
            background: url(../../common/images/icon_refect.png) no-repeat;
            background-size: contain;
            width: vw(24);
            height: vw(24);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(25);
          }
        }
      }
      a {
        font-size: vw(22);
        color: $org;
        width: 100%;
        height: vw(61);
        border: vw(2) solid $org;
        border-radius: vw(5);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        position: relative;
      }
    }
  }
}