@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_shopping_cart {
  .frm_cart {
    .frm_group {
      display: flex;
      align-items: center;
      padding: 20px 0;
      &:not(:last-child) {
        border-bottom: 1px dotted #bbb;
      }
      &:nth-of-type(2) {
        align-items: flex-start;
        label {
          padding-top: 5px;
        }
      }
      .frm_ip {
        width: 82px;
        height: 42px;
        border: 1px solid #CCCCCC;
        font-size: rem(24);
        color: #333;
        outline: none;
        text-align: center;
        padding: 0 10px;
        border-radius: 0;
        &::placeholder {
          color: #333;
          opacity: 1;
        }
      }
      label {
        font-size: rem(24);
        line-height: 1;
        width: 155px;
      }
      .right_frm {
        width: calc(100% - 155px);
        p {
          font-size: rem(24);
        }
        .list_dt {
          li {
            font-size: rem(24);
            position: relative;
            padding-left: 20px;
            &:before {
              content: "";
              width: 10px;
              height: 2px;
              background-color: #333;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
        strong {
          color: #FF0000;
          font-size: rem(24);
        }
        span {
          margin-left: 13px;
          font-size: rem(24);
          a {
            color: #1992FF;
          }
        }
      }
    }
    .frm_btn {
      .btn_sm {
        width: 350px;
        height: 70px;
        font-size: rem(28);
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        background-color: $org;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 22px auto 45px;
        border: none;
        cursor: pointer;
        &:after {
          content: "";
          background: url(../../common/images/icon_right_btn.png) no-repeat;
          background-size: contain;
          width: 15px;
          height: 25px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 27px;
        }
      }
    }
  }
  .txt_bottom{
    font-style: normal;
    font-size: rem(24);
    display: block;
  }
  .list_link{
    margin: 0 0 0 -18px;
    display: flex;
    align-items: center;
    li{
      width: calc(50% - 18px);
      margin: 20px 0 40px 18px;
      &:first-of-type{
        a{
          padding-left:30px;
          &:before{
            content:"";
            background: url(../../common/images/arr_left.png) no-repeat;
            width: 12px;
            height: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
          }
        }
      }
      &:last-of-type{
        a{
          padding-right:25px;
          &:after{
            content:"";
            background: url(../../common/images/icon_refect.png) no-repeat;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
          }
        }
      }
      a{
        font-size: rem(22);
        color: $org;
        width: 100%;
        height: 61px;
        border: 2px solid $org;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        position: relative;
      }
    }
  }
}