@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_changepass{
  .ttl_section{
    margin-bottom: vw(33);
  }
  .ctn_form{
    p{
      font-size: vw(24);
      margin-bottom: vw(30);
    }
  }
}