@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
header {
  .bx_cart {
    display: none;
  }
}
#toppage {
  header {
    .bx_cart {
      display: block;
    }
  }
}
.show_pc {
  display: none !important;
}

.wrapper {
  min-width: 320px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  figure {
    figcaption {
      font-size: vw(28);
      text-align: center;
      font-weight: bold;
      color: #fff;
      background-color: $org;
      width: vw(532);
      height: vw(161);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: -1px;
    }
  }
}

.txt_yl {
  color: #FF9B01;
}

.txt_bl {
  color: #0061B2;
}

.list_rb {
  padding-bottom: vw(30);
  margin: vw(10) 0 vw(25);
  border-bottom: 1px solid #bbb;
  li {
    padding: vw(20) 0;
    &:not(:last-child) {
      border-bottom: 1px dotted #BBBBBB;
    }
    strong {
      font-size: vw(30);
      display: block;
      line-height: 1;
      margin-bottom: vw(10);
    }
    em {
      font-style: normal;
      font-size: vw(24);
      display: block;
    }
  }
}

.gr_item_product {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 vw(-37);
  li {
    width: calc(50% - #{vw(37)});
    margin: 0 0 vw(37) vw(37);
    a{
      text-decoration: none;
      em {
        font-style: normal;
        display: block;
        font-size: vw(24);
        margin-top: vw(15);
      }
    }
  }
}

.ttl_st {
  font-size: vw(28);
  font-weight: bold;
  position: relative;
  padding-left: vw(32);
  margin-top: vw(60);
  border-bottom: 2px solid #ccc;
  padding-bottom: vw(20);
  line-height: 1;
  &:before {
    content: "";
    width: vw(9);
    height: vw(23);
    background-color: $org;
    position: absolute;
    top: vw(2);
    left: vw(5);
  }
}

.ttl_section {
  font-size: vw(35);
  font-weight: bold;
  line-height: 1;
  padding-bottom: vw(22);
  border-bottom: vw(3) solid #777777;
  position: relative;
  text-align: center;
  letter-spacing: -1px;
  &:after {
    content: "";
    width: vw(165);
    height: vw(3);
    background-color: $org;
    position: absolute;
    bottom: vw(-3);
    left: 0;
  }
}

.breadcrumb {
  padding: vw(25) 0;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  margin-bottom: vw(20);
  li {
    font-size: vw(20);
    line-height: 1;
    display: inline-block;
    margin-right: vw(25);
    position: relative;
    &:last-child {
      &:after {
        content: none;
      }
    }
    &:after {
      content: ">";
      font-size: vw(20);
      position: absolute;
      top: 50%;
      right: vw(-20);
      transform: translateY(-50%);
      color: #333333;
    }
    a {
      color: #198CFF;
      position: relative;
    }
  }
}

.ctn_frm {
  .top_form {
    .frm_group {
      padding: vw(25) 0;
      &:first-of-type {
        border-top: 1px dotted #CCCCCC;
      }
      &:not(:last-child) {
        border-bottom: 1px dotted #CCCCCC;
      }
      .top_ip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vw(20);
        &.mrg_bt{
          margin-bottom: 0;
        }
      }
      .left_lbl {
        display: flex;
        align-items: center;
      }
      label {
        font-size: vw(24);
        font-weight: bold;
        letter-spacing: -1px;
      }
      .right_lbl {
        text-align: right;
        .req {
          color: #FF0000;
          font-size: vw(24);
          line-height: 1;
        }
        em {
          font-style: normal;
          font-size: vw(24);
          margin-left: vw(15);
          line-height: 1;
          letter-spacing: -1px;
        }
      }
      .gr_slt {
        .frm_select {
          width: vw(150);
          height: vw(33);
          font-size: vw(20);
          appearance: none;
          background: url(../../common/images/icon_select.png) top right no-repeat;
          background-size: vw(26) vw(33);
          border-radius: vw(7);
          padding: 0 vw(10);
          outline: none;
          cursor: pointer;
          margin-left: vw(35);
          &.frm_sl_365{
            width: vw(365);
          }
          &.frm_sl_95{
            width: vw(95);
          }
        }
      }
      .frm_control {
        width: 100%;
        height: vw(60);
        border: 1px solid #CCCCCC;
        background-color: #F9F9F9;
        font-size: vw(24);
        padding: 0 vw(24);
        outline: none;
        border-radius: 0;
        &::placeholder {
          color: #333;
          opacity: 1;
        }
      }
    }
  }
  .gr_btn {
    margin: 0 0 0 vw(-18);
    display: flex;
    align-items: center;
    button {
      width: calc(50% - #{vw(18)});
      margin: vw(20) 0 vw(40) vw(18);
      font-size: vw(22);
      color: $org;
      height: vw(61);
      border: vw(2) solid $org;
      border-radius: vw(5);
      display: block;
      text-align: center;
      line-height: vw(61);
      text-decoration: none;
      font-weight: bold;
      position: relative;
      background-color: #fff;
      cursor: pointer;
      outline: none;
      &:first-of-type {
        &:after {
          content: "";
          background: url(../../common/images/arr_right.png) no-repeat;
          background-size: contain;
          width: vw(12);
          height: vw(18);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(25);
        }
      }
      &:last-of-type {
        &:after {
          content: "";
          background: url(../../common/images/icon_refect.png) no-repeat;
          background-size: contain;
          width: vw(24);
          height: vw(24);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(25);
        }
      }
    }
  }
}

.row {
  margin: 0 auto;
  padding: 0 vw(20);
}