@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
header {
  .bx_cart {
    display: none;
  }
}
#toppage {
  header {
    .bx_cart {
      display: block;
    }
  }
}
.show_sp {
  display: none !important;
}

.wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  position: relative;
  figure {
    figcaption {
      font-size: rem(28);
      text-align: center;
      font-weight: bold;
      color: #fff;
      background-color: $org;
      width: 532px;
      height: 161px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: -1px;
    }
  }
}

.txt_yl {
  color: #FF9B01;
}

.txt_bl {
  color: #0061B2;
}

.list_rb {
  padding-bottom: 30px;
  margin: 10px 0 25px;
  border-bottom: 1px solid #bbb;
  li {
    padding: 20px 0;
    &:not(:last-child) {
      border-bottom: 1px dotted #BBBBBB;
    }
    strong {
      font-size: rem(30);
      display: block;
      line-height: 1;
      margin-bottom: 10px;
    }
    em {
      font-style: normal;
      font-size: rem(24);
      display: block;
    }
  }
}

.gr_item_product {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 -37px;
  li {
    width: calc(50% - 37px);
    margin: 0 0 37px 37px;
    a{
      text-decoration: none;
      em {
        display: block;
        font-style: normal;
        font-size: rem(24);
        margin-top: 15px;
      }
    }
  }
}

.ttl_st {
  font-size: rem(28);
  font-weight: bold;
  position: relative;
  padding-left: 32px;
  margin-top: 60px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  line-height: 1.2;
  &:before {
    content: "";
    width: 9px;
    height: 23px;
    background-color: $org;
    position: absolute;
    top: 4px;
    left: 5px;
  }
}

.ttl_section {
  font-size: rem(35);
  font-weight: bold;
  line-height: 1;
  padding-bottom: 22px;
  border-bottom: 3px solid #777777;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    width: 165px;
    height: 3px;
    background-color: $org;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}

.breadcrumb {
  padding: 25px 0;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 20px;
  li {
    font-size: rem(20);
    line-height: 1;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    &:last-child {
      &:after {
        content: none;
      }
    }
    &:after {
      content: ">";
      font-size: rem(20);
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      color: #333333;
    }
    a {
      color: #198CFF;
    }
  }
}

.ctn_frm {
  .top_form {
    .frm_group {
      padding: 25px 0;
      &:first-of-type {
        border-top: 1px dotted #CCCCCC;
      }
      &:not(:last-child) {
        border-bottom: 1px dotted #CCCCCC;
      }
      .left_lbl {
        display: flex;
        align-items: center;
      }
      label {
        font-size: rem(24);
        font-weight: bold;
        line-height: 1;
        letter-spacing: -1px;
      }
      .top_ip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &.mrg_bt{
          margin-bottom: 0;
        }
      }
      .right_lbl {
        text-align: right;
        .req {
          color: #FF0000;
          font-size: rem(24);
          line-height: 1;
        }
        em {
          font-style: normal;
          font-size: rem(24);
          margin-left: 15px;
          line-height: 1;
          letter-spacing: -1px;
        }
      }
      .gr_slt {
        .frm_select {
          width: 150px;
          height: 33px;
          font-size: rem(20);
          appearance: none;
          background: url(../../common/images/icon_select.png) top right no-repeat;
          border-radius: 7px;
          padding: 0 10px;
          outline: none;
          cursor: pointer;
          margin-left: 35px;
          &.frm_sl_365{
            width: 365px;
          }
          &.frm_sl_95{
            width: 95px;
          }
        }
      }
      .frm_control {
        width: 100%;
        height: 60px;
        border: 1px solid #CCCCCC;
        background-color: #F9F9F9;
        font-size: rem(24);
        padding: 0 24px;
        outline: none;
        border-radius: 0;
        &::placeholder {
          color: #333;
          opacity: 1;
        }
      }
    }
  }
  .gr_btn {
    margin: 0 0 0 -18px;
    display: flex;
    align-items: center;
    button {
      width: calc(50% - 18px);
      margin: 20px 0 40px 18px;
      font-size: rem(22);
      color: $org;
      height: 61px;
      border: 2px solid $org;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      background-color: #fff;
      cursor: pointer;
      outline: none;
      &:first-of-type {
        &:after {
          content: "";
          background: url(../../common/images/arr_right.png) no-repeat;
          background-size: contain;
          width: 12px;
          height: 18px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
        }
      }
      &:last-of-type {
        &:after {
          content: "";
          background: url(../../common/images/icon_refect.png) no-repeat;
          background-size: contain;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 25px;
        }
      }
    }
  }
}

.row {
  margin: 0 auto;
  padding: 0 20px;
}