footer {
  .bx_nav_ft {
    ul {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #FFD7BC;
        }
        a {
          font-size: rem(22);
          display: block;
          padding: 20px;
          text-decoration: none;
          background-color: #FFF4ED;
          position: relative;
          &:after {
            content: "";
            background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
            background-size: cover;
            width: 20px;
            height: 25px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .copyright {
    font-size: rem(18);
    color: #888888;
    text-align: center;
    margin: 20px 0;
  }
}