footer {
  .bx_nav_ft {
    ul {
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #FFD7BC;
        }
        a {
          font-size: vw(22);
          display: block;
          padding: vw(20);
          text-decoration: none;
          background-color: #FFF4ED;
          position: relative;
          &:after {
            content: "";
            background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
            background-size: cover;
            width: vw(20);
            height: vw(25);
            position: absolute;
            top: 50%;
            right: vw(20);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .copyright {
    font-size: vw(18);
    color: #888888;
    text-align: center;
    margin: vw(20) 0;
  }
}