@import "_mixin/mixin";
header {
  position: relative;
  height: vw(164);
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-top: vw(5) solid #FF9D00;
    padding: vw(23) vw(20) vw(32);
  }
  .bx_logo {
    .logo {
      margin: 0;
      a {
        font-size: vw(50);
        color: $org;
        font-family: $cantana;
        font-weight: 400;
        margin: 0;
        line-height: 1;
        margin-left: vw(4);
        text-decoration: none;
        display: block;
        span {
          display: block;
          color: $org;
          font-size: vw(20);
          letter-spacing: vw(-2);
          line-height: 1;
          font-weight: bold;
          font-family: 'Poppins', sans-serif;
          margin-bottom: vw(8);
          margin-left: vw(-4);
        }
      }
    }
    p {
      font-size: vw(18);
      font-weight: bold;
      line-height: 1;
      margin: vw(8) 0 0 vw(3);
      letter-spacing: vw(-1);
    }
  }
  .right_icon {
    display: flex;
  }
  .bx_cart {
    margin-right: vw(30);
    a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      span {
        width: vw(64);
        height: vw(60);
        img {
          margin: vw(9) 0 vw(0) vw(-1);
        }
      }
      em {
        font-style: normal;
        font-size: vw(16);
        font-weight: bold;
        color: #666666;
        letter-spacing: vw(2);
        width: vw(64);
        display: block;
        text-align: center;
        margin: vw(20) 0 0 vw(5);
      }
    }
  }
  .icon_nav {
    cursor: pointer;
    display: block;
    margin-top: vw(7);
    span {
      background: #777777;
      display: block;
      width: vw(64);
      height: vw(6);
      margin-bottom: vw(12);
      position: relative;
      top: 0;
      transition: all ease-in-out 0.4s;
    }
    em {
      font-style: normal;
      font-size: vw(16);
      font-weight: bold;
      color: #666666;
      letter-spacing: vw(2);
      width: vw(64);
      display: block;
      text-align: center;
    }
  }
  .icon_nav.open span {
    &:nth-child(2),
    &:nth-child(3) {
      width: 0;
      opacity: 0;
    }
    &:nth-child(1) {
      transform: rotate(-45deg);
      top: vw(27);
    }
    &:nth-child(4) {
      transform: rotate(45deg);
      top: vw(-27);
    }
  }
  .bx_menu {
    background-color: #fff;
    padding: 0 vw(20) vw(20);
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    visibility: hidden;
    overflow-y: scroll;
    opacity: 0;
    z-index: 999;
    backface-visibility: hidden;
    transition: all 0.5s ease;
    &.open {
      opacity: 1;
      backface-visibility: visible;
      visibility: visible;
      .st_login {
        margin-bottom: vw(60);
      }
    }
    .ttl_st {
      margin-top: 0;
    }
  }
}