@import "_mixin/mixin";
header {
  position: relative;
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 199;
    /* .row {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        z-index: -1;
        transform: scale(.9);
        box-shadow: 0px 0px 8px 2px #000000;
      }
    } */
    .bx_menu {
      max-width: 640px;
      width: 100%;
      margin-left: -20px;
      left: auto;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    border-top: 5px solid #FF9D00;
    padding: 23px 20px 32px;
  }
  .bx_logo {
    .logo {
      margin: 0;
      a{
        text-decoration: none;
        font-size: rem(50);
        color: $org;
        font-family: $cantana;
        font-weight: 400;
        margin: 0;
        line-height: 1;
        margin-left: 4px;
        display: block;
        span {
          display: block;
          color: $org;
          font-size: rem(20);
          letter-spacing: -2px;
          line-height: 1;
          font-weight: bold;
          font-family: 'Poppins', sans-serif;
          margin-bottom: 8px;
          margin-left: -4px;
        }
      }
    }
    p {
      font-size: rem(18);
      font-weight: bold;
      line-height: 1;
      margin: 8px 0 0 3px;
      letter-spacing: -1px;
    }
  }
  .right_icon {
    display: flex;
    align-items: center;
  }
  .bx_cart {
    margin-right: 30px;
    a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      span {
        width: 64px;
        height: 60px;
        img {
          margin: 9px 0 0px -1px;
        }
      }
      em {
        font-style: normal;
        font-size: rem(16);
        font-weight: bold;
        color: #666666;
        letter-spacing: 2px;
        width: 64px;
        display: block;
        text-align: center;
        margin: 18px 0 0 5px;
      }
    }
  }
  .icon_nav {
    cursor: pointer;
    display: block;
    margin-top: 7px;
    span {
      background: #777777;
      display: block;
      width: 64px;
      height: 6px;
      margin-bottom: 12px;
      position: relative;
      top: 0;
      transition: all ease-in-out 0.4s;
    }
    em {
      font-style: normal;
      font-size: rem(16);
      font-weight: bold;
      color: #666666;
      letter-spacing: 2px;
      width: 64px;
      display: block;
      text-align: center;
    }
  }
  .icon_nav.open span {
    &:nth-child(2),
    &:nth-child(3) {
      width: 0;
      opacity: 0;
    }
    &:nth-child(1) {
      transform: rotate(-45deg);
      top: 27px;
    }
    &:nth-child(4) {
      transform: rotate(45deg);
      top: -27px;
    }
  }
  .bx_menu {
    background-color: #fff;
    padding: 0 20px 20px;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    visibility: hidden;
    overflow-y: scroll;
    opacity: 0;
    z-index: 999;
    backface-visibility: hidden;
    transition: all 0.5s ease;
    &.open {
      opacity: 1;
      backface-visibility: visible;
      visibility: visible;
      .st_login {
        margin-bottom: 60px;
      }
    }
    .ttl_st {
      margin-top: 0;
    }
  }
}