@import "_mixin/mixin";
.bx_arcoding {
  margin-top: vw(20);
  dl {
    &:first-of-type {
      dt {
        border-top: 1px dotted #CCCCCC;
      }
    }
    dt {
      border-bottom: 1px dotted #CCCCCC;
      font-size: vw(24);
      font-weight: bold;
      padding: vw(15) 0;
      position: relative;
      cursor: pointer;
      span {
        font-weight: normal;
      }
      &:after {
        content: "";
        background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
        background-size: cover;
        width: vw(20);
        height: vw(25);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    dd {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      ul {
        li {
          border-bottom: 1px dotted #CCCCCC;
          a {
            display: block;
            padding: vw(15) 0; 
            font-size: vw(24);
            position: relative;
            text-decoration: none;
            padding-left: vw(40);
            &:before {
              content: "";
              width: vw(10);
              height: vw(10);
              border-radius: 100%;
              overflow: hidden;
              background-color: #FF9D00;
              position: absolute;
              top: 50%;
              left: vw(15);
              transform: translateY(-50%);
            }
            &:after {
              content: "";
              background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
              background-size: cover;
              width: vw(20);
              height: vw(25);
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

.st_news {
  .list_news {
    li {
      a {
        text-decoration: none;
        display: block;
        padding: vw(20) 0;
        time {
          font-size: vw(24);
        }
        em {
          text-decoration: underline;
          color: #2692FF;
          font-size: vw(24);
          font-style: normal;
          padding-left: vw(50);
        }
      }
    }
  }
}

.st_popular {
  padding-bottom: vw(10);
  .list_popular {
    li {
      &:not(:last-child) {
        border-bottom: 1px dotted #CCCCCC;
      }
      a {
        text-decoration: none;
        padding: vw(20) 0;
        display: block;
      }
      figure {
        display: flex;
        figcaption {
          font-size: vw(24);
          padding-left: vw(30);
        }
      }
    }
  }
}