@import "_mixin/mixin";
.st_login {
  .bx_login {
    .frm_login {
      background-color: #FFF4ED;
      padding: 30px 50px 30px 36px;
      margin: 25px 0 0 0;
      .frm_group {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      label {
        font-size: rem(24);
        font-weight: bold;
        display: flex;
        align-items: center;
        width: 165px;
        .icon_mail {
          position: relative;
          background: url(../../images/SVG/envelope.svg) no-repeat;
          background-size: contain;
          width: 26px;
          height: 26px;
          display: inline-block;
          margin-right: 5px;
        }
        .icon_lock {
          position: relative;
          background: url(../../images/SVG/lock.svg) no-repeat;
          background-size: contain;
          width: 20px;
          height: 24px;
          display: inline-block;
          margin-right: 5px;
        }
      }
      .frm_control {
        width: 100%;
        height: 55px;
        border: 3px solid #FFD7BE;
        font-size: rem(24);
        padding: 0 10px;
        outline: none;
        border-radius: 0;
      }
      .ip_right {
        width: calc(100% - 165px);
      }
      .frm_btn {
        margin-top: 33px;
        .btn {
          font-size: rem(28);
          font-weight: bold;
          width: 350px;
          height: 70px;
          color: $org;
          border: 2px solid $org;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;
          margin: auto;
        }
        .btn_submit {
          margin-bottom: 16px;
          background-color: $org;
          color: #fff;
        }
        .btn_reg {
          text-decoration: none;
        }
      }
    }
    p {
      font-size: rem(24);
      text-align: center;
      margin-top: 15px;
      a {
        color: #2692FF;
      }
    }
  }
}

.st_shopping_cart {
  .gr_cart {
    margin-top: 13px;
    .gr_item_pro {
      .item_pro {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        &:not(:last-child) {
          border-bottom: 1px dotted #CCCCCC;
        }
        p {
          font-size: rem(24);
        }
        .name {
          width: 450px;
        }
        .number {
          width: 60px;
          text-align: right;
        }
        .monney {
          width: calc(100% - 480px);
          text-align: right;
          ins {
            text-decoration: none;
          }
        }
      }
    }
    .total_c {
      border-top: 3px solid #ccc;
      p {
        font-size: rem(24);
        color: $org;
        text-align: right;
        margin-top: 12px;
      }
    }
  }
}

.st_search {
  .frm_search {
    margin: 22px 0 0 0;
    .frm_group {
      display: flex;
      align-items: center;
      .frm_control {
        width: 100%;
        height: 55px;
        border: 3px solid #FFD7BE;
        font-size: rem(24);
        padding: 0 10px;
        outline: none;
      }
      .ip_left {
        width: calc(100% - 130px);
        padding-right: 17px;
      }
      .btn_search {
        font-size: rem(28);
        font-weight: bold;
        width: 130px;
        height: 55px;
        color: $org;
        background-color: $org;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        margin: auto;
        border: none;
        color: #fff;
        position: relative;
        padding-right: 35px;
        &:after{
          content:"";
          background: url(../../images/SVG/magnifying-glass.svg) no-repeat;
          background-size: contain;
          width: 26px;
          height: 26px;
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
        }
      }
    }
  }
  em{
    font-size: rem(24);
    font-style: normal;
    color: $org;
    font-weight: bold;
    display: block;
    margin-top: 30px;
  }
}