@import "_mixin/mixin";
.bx_arcoding {
  margin-top: 20px;
  dl {
    &:first-of-type {
      dt {
        border-top: 1px dotted #CCCCCC;
      }
    }
    dt {
      border-bottom: 1px dotted #CCCCCC;
      font-size: rem(24);
      font-weight: bold;
      padding: 15px 0;
      position: relative;
      cursor: pointer;
      span {
        font-weight: normal;
      }
      &:after {
        content: "";
        background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
        background-size: cover;
        width: 20px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    dd {
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      ul {
        li {
          border-bottom: 1px dotted #CCCCCC;
          a {
            display: block;
            padding: 15px 0;
            font-size: rem(24);
            position: relative;
            text-decoration: none;
            padding-left: 40px;
            &:before {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 100%;
              overflow: hidden;
              background-color: #FF9D00;
              position: absolute;
              top: 50%;
              left: 15px;
              transform: translateY(-50%);
            }
            &:after {
              content: "";
              background: url(../../images/SVG/keyboard-right-arrow-button.svg) no-repeat;
              background-size: cover;
              width: 20px;
              height: 25px;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

.st_news {
  .list_news {
    li {
      a {
        text-decoration: none;
        display: block;
        padding: 20px 0;
        time {
          font-size: rem(24);
        }
        em {
          text-decoration: underline;
          color: #2692FF;
          font-size: rem(24);
          font-style: normal;
          padding-left: 50px;
        }
      }
    }
  }
}

.st_popular {
  padding-bottom: 10px;
  .list_popular {
    li {
      &:not(:last-child) {
        border-bottom: 1px dotted #CCCCCC;
      }
      a {
        text-decoration: none;
        padding: 20px 0;
        display: block;
      }
      figure {
        display: flex;
        figcaption {
          font-size: rem(24);
          padding-left: 30px;
        }
      }
    }
  }
}