@import "_mixin/mixin";
.st_login {
  .bx_login {
    .frm_login {
      background-color: #FFF4ED;
      padding: vw(30) vw(50) vw(30) vw(36);
      margin: vw(25) 0 0 0;
      .frm_group {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: vw(25);
        }
      }
      label {
        font-size: vw(24);
        font-weight: bold;
        display: flex;
        align-items: center;
        width: vw(165);
        .icon_mail {
          position: relative;
          background: url(../../images/SVG/envelope.svg) no-repeat;
          background-size: contain;
          width: vw(26);
          height: vw(26);
          display: inline-block;
          margin-right: vw(5);
        }
        .icon_lock {
          position: relative;
          background: url(../../images/SVG/lock.svg) no-repeat;
          background-size: contain;
          width: vw(20);
          height: vw(24);
          display: inline-block;
          margin-right: vw(5);
        }
      }
      .frm_control {
        width: 100%;
        height: vw(55);
        border: vw(3) solid #FFD7BE;
        font-size: vw(24);
        padding: 0 vw(10);
        outline: none;
        border-radius: 0;
      }
      .ip_right {
        width: calc(100% - #{vw(165)});
      }
      .frm_btn {
        margin-top: vw(33);
        .btn {
          font-size: vw(28);
          font-weight: bold;
          width: vw(350);
          height: vw(70);
          line-height: vw(70);
          color: $org;
          border: vw(2) solid $org;
          background-color: #fff;
          display: block;
          text-align: center;
          cursor: pointer;
          border-radius: vw(5);
          margin: auto;
        }
        .btn_submit {
          margin-bottom: vw(16);
          background-color: $org;
          color: #fff;
        }
        .btn_reg {
          text-decoration: none;
        }
      }
    }
    p {
      font-size: vw(24);
      text-align: center;
      margin-top: vw(15);
      a {
        color: #2692FF;
      }
    }
  }
}

.st_shopping_cart {
  .gr_cart {
    margin-top: vw(13);
    .gr_item_pro {
      .item_pro {
        display: flex;
        justify-content: space-between;
        padding: vw(20) 0;
        &:not(:last-child) {
          border-bottom: 1px dotted #CCCCCC;
        }
        p {
          font-size: vw(24);
        }
        .name {
          width: vw(450);
        }
        .number {
          width: vw(60);
          text-align: right;
        }
        .monney {
          width: calc(100% - #{vw(450)});
          text-align: right;
          ins {
            text-decoration: none;
          }
        }
      }
    }
    .total_c {
      border-top: vw(3) solid #ccc;
      p {
        font-size: vw(24);
        color: $org;
        text-align: right;
        margin-top: vw(12);
      }
    }
  }
}

.st_search {
  .frm_search {
    margin: vw(22) 0 0 0;
    .frm_group {
      display: flex;
      align-items: center;
      .frm_control {
        width: 100%;
        height: vw(55);
        border: vw(3) solid #FFD7BE;
        font-size: vw(24);
        padding: 0 vw(10);
        outline: none;
      }
      .ip_left {
        width: calc(100% - #{vw(130)});
        padding-right: vw(17);
      }
      .btn_search {
        font-size: vw(28);
        font-weight: bold;
        width: vw(130);
        height: vw(55);
        color: $org;
        background-color: $org;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: vw(5);
        margin: auto;
        border: none;
        color: #fff;
        position: relative;
        padding-right: vw(35);
        &:after{
          content:"";
          background: url(../../images/SVG/magnifying-glass.svg) no-repeat;
          background-size: contain;
          width: vw(26);
          height: vw(26);
          position: absolute;
          top: 50%;
          right: vw(20);
          transform: translateY(-50%);
        }
      }
    }
  }
  em{
    font-size: vw(24);
    font-style: normal;
    color: $org;
    font-weight: bold;
    display: block;
    margin-top: vw(30);
  }
}